#plugins {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1080px) {
  #plugins {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 1079px) {
  #plugins {
    margin-left: 2%;
    margin-right: 2%;
  }
}
